.movie-library__card {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  align-items: self-end;
}

.movie-library__card-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(151, 215, 0, 1) 100%
  );
  z-index: 1;
}

.movie-library__card img {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 24px;
}

.movie-library__card .movie-library__card-info {
  padding: 1em;
  z-index: 1;
}

.movie-library__card .movie-library__card-info__text-bold {
  font-size: 17px;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgb(0 0 0 / 58%);
  margin-bottom: 8px;
}

.movie-library__card .movie-library__card-info__text-normal {
  font-size: 15px;
  font-weight: normal;
  text-shadow: 0px 2px 4px rgb(0 0 0 / 58%);
}

.movie-library__card .movie-library__card-info__text-normal:not(:last-child) {
  margin-bottom: 8px;
}

@media (max-width: 425px) {
  .movie-library__card .movie-library__card-info {
    padding: 0.8em;
  }

  .movie-library__card .movie-library__card-info__text-bold {
    font-size: 14px;
  }
  
  .movie-library__card .movie-library__card-info__text-normal {
    font-size: 13px;
  }
}