.movies__list {
  background-color: #222222;
  padding: 1em;
  border-radius: .2em;
  margin-right: 2em;
  width: 24em;
}

.movies__list-cardContainer:last-child {
  margin-bottom: 0;
}

.movies__cart-total {
  margin-top: 1em;
  font-size: 1.25em;
}

