.exercise01 {
  background-color: var(--black);
  color: var(--white);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies__list, .movies__cart {
  width: 24em;
}

.movies__list {
  background-color: #222222;
  padding: 1em;
  border-radius: .2em;
  margin-right: 2em;
}

.movies__list-card {
  background-color: #333333;
  margin-bottom: 1rem;
  padding: .75em;
  border-radius: .2em;
}

.movies__list-card:last-child {
  margin-bottom: 0;
}

.movies__list-card ul li {
  font-size: 1em;
  line-height: 120%;
}

.movies__list-card button {
  background-color: var(--ms-green);
  border: none;
  cursor: pointer;
  font-size: .75em;
  border-radius: .25em;
  margin-top: .75em;
  padding: .25em .5em;
}

.movies__cart {
  background-color: #222222;
  padding: 1em;
  border-radius: .2em;
}

.movies__cart-card {
  background-color: #333333;
  margin-bottom: 1rem;
  padding: .75em;
  border-radius: .2em;
}

.movies__cart-card:last-child {
  margin-bottom: 0;
}

.movies__cart-card ul li {
  font-size: 1em;
  line-height: 120%;
}

.movies__cart-card-quantity {
  display: flex;
  align-items: center;
  margin-top: .5em;
}

.movies__cart-card span {
  margin: 0 .5em;
}

.movies__cart-card button {
  background-color: var(--ms-green);
  border: none;
  cursor: pointer;
  font-size: .75em;
  border-radius: .25em;
  padding: .25em .5em;
}

.movies__cart-total {
  margin-top: 1em;
  font-size: 1.25em;
}