.exercise01 {
  background-color: var(--black);
  color: var(--white);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies__list, .movies__cart {
  width: 24em;
}

.movies__list {
  background-color: #222222;
  padding: 1em;
  border-radius: .2em;
  margin-right: 2em;
}

.movies__list-card {
  background-color: #333333;
  margin-bottom: 1rem;
  padding: .75em;
  border-radius: .2em;
}

.movies__list-card ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.movies__list-card:last-child {
  margin-bottom: 0;
}

.movies__list-card ul li {
  font-size: 1em;
  line-height: 120%;
}

.movies__list-card .movie__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9em;
}

.movies__list-card .movie__card-footer {
  display: flex;
  justify-content: flex-end;
}

.movies__cart-card ul li .movie__title,
.movies__list-card ul li .movie__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .2em;
}

.movies__list-card ul li .movie__body {
  font-size: .75em;
  font-weight: lighter;
  margin-bottom: .2em;
}

.movies__list-card ul li  .movie__price {
  font-size: 1.25em;
  font-weight: normal;
  margin-top: auto;
}

.movies__list-card ul li img {
  height: 9em;
  width: 6.5em;
  margin-right: .5em;
  border-radius: .25em;
}

.movies__list-card button {
  background-color: var(--ms-green);
  border: none;
  cursor: pointer;
  font-size: .75em;
  border-radius: .25em;
  margin-top: .75em;
  padding: .5em .5em;
  width: 100%;
}

.movies__cart {
  background-color: #222222;
  padding: 1em;
  border-radius: .2em;
}

.movies__cart-card {
  background-color: #333333;
  margin-bottom: 1rem;
  padding: .75em;
  border-radius: .2em;
  display: flex;
  flex-direction: column;
}

.movies__cart-card:last-child {
  margin-bottom: 0;
}

.movies__cart-card ul li {
  font-size: 1em;
  line-height: 120%;
}

.movies__cart-card .movie__band {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}

.movies__cart-card-quantity {
  display: flex;
  align-items: center;
  margin-top: .5em;
  margin-left: auto;
}

.movies__cart-card span {
  margin: 0 .5em;
}

.movies__cart-card button {
  background-color: var(--ms-green);
  border: none;
  cursor: pointer;
  font-size: .75em;
  border-radius: .25em;
  padding: .25em .5em;
}

.movies__cart-total {
  margin-top: 1em;
  font-size: 1.25em;
  width: 100%;
  text-align: right;
}