.movie-library {
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
}

.movie-library__title {
  font-size: 2em;
  font-weight: 600;
  padding: 2rem 0 1.5rem 2rem;
}

.movie-library__heading {
  background-image: url(./mountains.jpeg);
  background-size: cover;
  background-position-y: 20%;

}

.movie-library__loading {
  text-align: center;
  width: 100%;
  background-color: #222222;
  padding: 1.25em 0;
  margin: 2em 0;
}