.movie-library {
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
  padding: 2em;
}

.movie-library__title {
  font-size: 2em;
  margin-bottom: 1em;
}

.movie-library__loading {
  text-align: center;
  width: 100%;
  background-color: #222222;
  padding: 1.25em 0;
  margin: 2em 0;
}